.section {
  height: 500px;
}

#location {
  position: fixed;
  top: 10px;
  right: 10px;
}

.box {
  width: 100px;
  height: 100px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}
